<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginCTL</servlet-name>
  	<display-name>LoginCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.LoginCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpCTL</servlet-name>
  	<display-name>SignUpCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.SignUpCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WelcomeHomePage</servlet-name>
  	<display-name>WelcomeHomePage</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.WelcomeHomePage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WelcomeHomeCTL</servlet-name>
  	<display-name>WelcomeHomeCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.WelcomeHomeCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeCTL</servlet-name>
  	<display-name>HomeCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.HomeCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeECTL</servlet-name>
  	<display-name>HomeECTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.HomeCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeeCTL</servlet-name>
  	<display-name>HomeeCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.HomeeCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserListCTL</servlet-name>
  	<display-name>UserListCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.UserListCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddToCartCTL</servlet-name>
  	<display-name>AddToCartCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.AddToCartCTL</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginCTL</servlet-name>
  	<url-pattern>/LoginCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpCTL</servlet-name>
  	<url-pattern>/SignUpCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WelcomeHomePage</servlet-name>
  	<url-pattern>/WelcomeHomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WelcomeHomeCTL</servlet-name>
  	<url-pattern>/WelcomeHomeCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeCTL</servlet-name>
  	<url-pattern>/HomeCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeECTL</servlet-name>
  	<url-pattern>/HomeECTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeeCTL</servlet-name>
  	<url-pattern>/HomeeCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserListCTL</servlet-name>
  	<url-pattern>/UserListCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddToCartCTL</servlet-name>
  	<url-pattern>/AddToCartCTL</url-pattern>
  </servlet-mapping>
</web-app>
