<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginCTL</servlet-name>
  	<display-name>LoginCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.LoginCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpCTL</servlet-name>
  	<display-name>SignUpCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.SignUpCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WelcomeHomePage</servlet-name>
  	<display-name>WelcomeHomePage</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.WelcomeHomePage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WelcomeHomeCTL</servlet-name>
  	<display-name>WelcomeHomeCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.WelcomeHomeCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeCTL</servlet-name>
  	<display-name>HomeCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.HomeCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeECTL</servlet-name>
  	<display-name>HomeECTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.HomeCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeeCTL</servlet-name>
  	<display-name>HomeeCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.HomeeCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserListCTL</servlet-name>
  	<display-name>UserListCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.UserListCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddToCartCTL</servlet-name>
  	<display-name>AddToCartCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.AddToCartCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Quantity_Incre_Decre</servlet-name>
  	<display-name>Quantity_Incre_Decre</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.Quantity_Incre_Decre</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Quantity_Incre_DecreCTL</servlet-name>
  	<display-name>Quantity_Incre_DecreCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.Quantity_Incre_DecreCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveFromCartCTL</servlet-name>
  	<display-name>RemoveFromCartCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.RemoveFromCartCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Check_Out_CTL</servlet-name>
  	<display-name>Check_Out_CTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.Check_Out_CTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckOutCTL</servlet-name>
  	<display-name>CheckOutCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.CheckOutCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckoutCTL</servlet-name>
  	<display-name>CheckoutCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.CheckoutCTL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CancelOrderCTL</servlet-name>
  	<display-name>CancelOrderCTL</display-name>
  	<description></description>
  	<servlet-class>javaapplication.controller.CancelOrderCTL</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginCTL</servlet-name>
  	<url-pattern>/LoginCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpCTL</servlet-name>
  	<url-pattern>/SignUpCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WelcomeHomePage</servlet-name>
  	<url-pattern>/WelcomeHomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WelcomeHomeCTL</servlet-name>
  	<url-pattern>/WelcomeHomeCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeCTL</servlet-name>
  	<url-pattern>/HomeCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeECTL</servlet-name>
  	<url-pattern>/HomeECTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeeCTL</servlet-name>
  	<url-pattern>/HomeeCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserListCTL</servlet-name>
  	<url-pattern>/UserListCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddToCartCTL</servlet-name>
  	<url-pattern>/AddToCartCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Quantity_Incre_Decre</servlet-name>
  	<url-pattern>/Quantity_Incre_Decre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Quantity_Incre_DecreCTL</servlet-name>
  	<url-pattern>/quan-incre-decre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveFromCartCTL</servlet-name>
  	<url-pattern>/remove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckoutCTL</servlet-name>
  	<url-pattern>/CheckoutCTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CancelOrderCTL</servlet-name>
  	<url-pattern>/cancel-order</url-pattern>
  </servlet-mapping>
</web-app>
