*{
    color:white;
    font-family: "poppins" ,sans-serif;
}
body{
    background:url(https://e0.pxfuel.com/wallpapers/696/433/desktop-wallpaper-pharmacy-pharma.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    /* display:flex; */
    /* align-items: center; */
    /* justify-content: center; */
   
}
.container{
   position:absolute; 
   top:20vh; 
   left:38%;
   background:none;
   border:5px solid aqua;
   /* border:5px solid rgb(9, 0, 128); */
   border-radius: 20%;
   padding:30px;
   /* animation: glow 3s infinite ease-in-out; */
   animation-name: move;
   animation-timing-function:ease-in;
   animation-iteration-count:1;
   animation-duration:1s ;
}
h1{
    border-bottom:2px solid aqua;
    display:inline-block;
    margin-bottom:20px;
    padding:10px;
    display:flex;
    justify-content: center;
}
input{
    width:75%;
    background: none;
    border:none;
    outline:none;
    border-bottom:2px solid rgb(9, 0, 128);
    color:white;
}
.box{
    margin:5px 25px;
    font-size: 25px;
    border:none;
    outline:none;
    background: none;
}
.btn{
    cursor:pointer;
    margin:5px 25px;
    border-radius:10%;
    /* border:2px solid black; */
    background-color:rgb(9, 0, 128);
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    font-size:12px;
    border:3px solid black;
    background-color: rgb(0, 0, 0);
}
#checkbox{
    cursor:pointer;
    display:flex;
}

#div1 {
   
    font-size: 10px;

}
a{
    display: flex;
    justify-content:end;
    color:aqua;
    font-size: 10px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color:yellow/*#f08804*/;
}
.btn:active{
    color:rgb(0, 0, 255);
    background-color: gold;
}
@keyframes move{
    from{
        top:0px;
    }
    to{
        top: 20vh;
    }
}

@keyframes glow{
    /* 0% {box-shadow: 5px 5px 0px rgb(255, 255, 0);} */
    /* 20% {box-shadow: 5px 0px 5px rgb(255, 255, 30);} */
    /* 40% {box-shadow: 0px 5px 5px rgb(255, 255, 60);} */
    /* 60% {box-shadow: 5px 0px 5px rgb(255, 255, 90);} */
    /*80% {box-shadow: 5px 5px 0px rgb(255, 255, 120);} */
    /* 100% {box-shadow: 5px 0px 5px rgb(255, 255, 150);} */
    /* from{ */
        /* box-shadow:5px 5px 5px white; */
    /* } */
    /* to{ */
        /* box-shadow:5px 5px 5px aquamarine; */
    /* } */
}